html {
  font-size: 18px;
  font-family: Helvetica;
}

/* Universal Styles */
.container{
  max-width: 960px;
  margin: 0 auto;
}

/* Header Section */

.header{
  background-color: black;
  color: white;
}

.header .container{
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.header img{
  height: 1.5rem;
  padding-right: 1rem;
}

/* Main Background Image and New Heading */

.new{
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.center{
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.center h2{
  font-size: 1rem;
  font-weight: bold;
}

.center h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 0 .25rem 0;
}

/* Navigation */
.nav{
  background-color: firebrick;
  color: white;
}

.nav .list{
  display: flex;
  align-items: center;
  align-content: space-between;
  padding: 0 .75rem 0;
  list-style: none;
}

/* Product Highlights */
.products{
  display: flex;
  margin: 3rem 0 0;
  justify-content: space-between;
}

.pen,
.watch,
.glasses{
  width: 30%;
}

.product-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.description{
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

.info{
  display: flex;
  align-items: cacenter;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.info .location {
  background-color: black;
  color: white;
  padding-left: 2rem;
  width: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info .hours {
  margin: 0 auto;
  background-color: black;
  color: white;
  padding-left: 2rem;
  width: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer{
  background-color: black;
  color: white;
  height: 5rem;
}

.footer .container{
  display: flex;
  align-items: left;
}
